$bgColor = #03a9f4;
$shadow = 0px 0px 5px #D1D1D1;
.shadow{
  box-shadow :0 0 8px #D1D1D1
}
.onInfiniteMsg
  color #999
  font-size .3rem
  line-height .8rem
.title
  font-size .4rem
  color #666
  font-weight 700
.explain
  font-size .32rem
  color #999
.brief
  color #666
  font-size .35rem
.hint
  width 100%
  text-align center
  color #999
  font-size 12px
  position absolute
  top 50%
  left: 50%
  transform translate(-50%,-50%)